* {
    padding 0;
    margin: 0;
}

body {
    width: 100%;
    max-width: 100%;
}

.wadah {
    height: 200%;
    width: 200%;
    max-width: 100%;
    max-height: 100%;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    transform: skewX(-20deg);
    transform-origin: left;
    flex-wrap: wrap;
}

.bar_1 {
    display: flex;
    background: #999999;
    height: 100vh;
    right: 74%;
    width: 4%;
    position: absolute;
    display: inline-block;
    opacity: 15%;
    

}

.bar_2 {
    display: flex;
    background: #999999;
    height: 100vh;
    right: 65%;
    width: 4%;
    position: absolute;
    opacity: 15%;

}

.bar_3 {
    display: flex;
    background: #999999;
    height: 100vh;
    right: 10%;
    width: 4%;
    position: absolute;
    opacity: 15%;

}

.bar_4 {
    display: flex;
    background: #999999;
    height: 100vh;
    right: 1%;
    width: 4%;
    position: absolute;
    opacity: 15%;

}

.navbar {
    background: #03485D;
    margin: 0;
    display: flex;
	align-items: center;
    height: 100px;
    width: 100%;
    max-height: 100%;
    max-width: 200%;
    position: relative;
}

.logo {
    display: flex;
    height: 100%;
    margin-left: 12%;
}

.bar {
	display: flex;
	list-style: none;
	padding: 0;	
    margin-left: 7%;
    		
}

.bar li {
    padding-left: 0;
    margin-right: 10px;
    color: white;
    font-size: 1em;
}

.bar li a {
    padding: 10px;
	text-decoration: none;
}

a {
    color: white;
}

.search {
    font-size: .7em;
    margin-left: 30%;
    background: #03485D;
    border: 1px solid #8D9DB5;
    color: #8D9DB5;
    border-radius: 16px;
    padding: .6rem ;
    padding-right: 7rem;
    padding-left: 2rem;
}

input[type="textbox"],
textarea {
    width: 200px;
    height: 3rem;
    padding: 10px;
    padding-left: 25px;
    margin-bottom: 10px;
    border: 1px solid #D3D2DF;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 11px;
    position: relative;
    margin-right: 3%;
}

.profile {
    margin-right: 2%;
    position: relative;
}

.nama {
    font-size: 1.3em;
    right: 1%;
    position: relative;
    
}

.header {
    height: 160px;
    width: 70%;
    background-color: #03485D;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: absolute;
    left: 15%;
    top: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0px 0px 10px;
    box-sizing: border-box; 
}

.lgHeader {
    height: 100%;
}

.form_post {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    position: relative;
    left: 22%;
}

label {
    width: 70%;
    text-align: left; 
    margin-bottom: 5px; 
    padding: 10px;
    font-size: 20px;
}

input[type="text"],
input[type="text"],
input[type="text"],
textarea {
    width: 70%;
    height: 3rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #03485D;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FCF6E3;
    font-size: 11px;
}

input[type="file"] {
    width: 30%;
    height: 3rem;
    padding: 13px;
    margin-bottom: 10px;
    border: 2px solid #03485D;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FCF6E3;
    font-size: 11px;
    margin-right: 40%;
}

input[type="submit"] {
    background-color: #1ECAFE;
    color: #FCF6E3;
    padding: 10px 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 10%;
    box-sizing: border-box;
    border: 1px solid #dddd;
    margin-right: 40%;
    
}

input[type="submit"]:hover {
    background-color: greenyellow;
}